@font-face {
    font-family:'Roboto Bold-Italic';
    src: url('../../../font/Roboto-BoldItalic.ttf');
}
@font-face {
    font-family: 'Anton Regular';
    src: url('../../../font/Anton-Regular.ttf');
}
@font-face {
    font-family: acme;
    src: url('../../../font/Acme-Regular.ttf');
}
@font-face {
    font-family: Ubuntu;
    src: url('../../../font/Ubuntu-Bold.ttf');
}
html { font-family: sans-serif; }
body { margin: 0; padding: 0; }
hr { 
    width: 100px;
    border: 1px solid rgb(56, 54, 54);
}
/* Navbar */
.navbar .nav-item a.nav-link:hover {
    background: rgba(0, 0, 0,0.3);
    color: rgb(209, 209, 209);
    border-radius: 7px;
    text-shadow: 1px 1px 1px black;
    transition: .3s;
}
.navbar-brand {
    font-size: 21px;
    font-family: 'Ubuntu';
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .7);
}
.navbar ul li.active {
    background: rgba(0, 255, 242, 0.568);
    font-family: Ubuntu;
    border-radius: 7px;
    transition: .3s;
}
/* Akhir Navbar */

/* Jumbotron */
section#artikel {
    width: 80%;
    margin: 10px auto;
}
section#artikel .container .awal {
    padding-top: 30px;
    background: rgba(190, 207, 206, 0.568);
}
section#artikel h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: -20px;
}
section#artikel p {
    text-align: justify;
}
section#artikel .responsive-img {
    min-width: 100%;
    height: auto;
}
/* AKhir jumbotron */

/* Foooter */
footer .footer-top {
    background-color: rgb(73, 73, 73);
    color: rgb(231, 229, 229);
    padding: 20px 50px;
}

footer h4::before {
    content: '|';
    color:  rgb(255, 255, 60);
    padding-right: 10px;
}
footer .footer-top img {
    padding-right: 10px;
}
footer .footer-bottom {
    background-color: rgb(65, 64, 64);
    line-height: 15px;
}
footer .footer-bottom p {
    color: rgb(230, 228, 228);
    text-align: center;
    font-size: 13px;
    margin-top: 5px;
}
footer .footer-top img:hover {
    transform: scale(1.2);
    transition: .2s;
    
    /* Vendor Prefix */
    -webkit-transition: .2s;
    -webkit-transform: scale(1.2);
}
/* Akhir Footer */